@import url(./vars.css);
@import url(./header.css);
@import url(./about.css);
@import url(./data.css);
@import url(./workwithus.css);
@import url(./services.css);
@import url(./associate.css);
@import url(./footer.css);

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }